<!DOCTYPE html>
<html lang="en" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Pioneers</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <div class="page-container">
        <!-- Hero -->
        <div class="standard-hero">
          <div class="hero-content text-center ">
            <div class="max-w-full">
              <h1 class="text-5xl font-bold">Welcome to Eco Pioneers 🌿</h1>
              <p class="py-6 text-lg">Navigate through our several alternatives proposed to minimize Climate Change.</p>
              <a href="/solutions/projects" class="btn btn-primary">Explore now!</a>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

          <% projects.forEach(project => { %>
          <div class="card bg-base-100 shadow-xl h-full">
              <figure>
                <img class="w-full h-48 object-cover" src="<%= project.feature_img_url %>" alt="<%= project.title %>">
              </figure>
              <div class="card-body flex flex-col">
                <h2 class="card-title"><%= project.title %></h2>
                <p><%= project.summary_short %></p>
                <div class="card-actions justify-end mt-auto pt-6">
                  <a href="/solutions/projects/<%= project.id %>" class="btn btn-primary">More Information</a>
                </div>
              </div>
          </div>
          <% }) %>

        </div>
        
    </div>
</body>
</html>