<!DOCTYPE html>
<html lang="en" data-theme="luxury">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Projects</title>
      <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <div class="page-container">
        <!-- Header -->
      <div class="standard-hero mb-3">
        <div class="hero-content text-center ">
          <div class="max-w-full">
              
            <h1 class="text-5xl font-bold">Projects</h1>

            <div class="text-lg">
                <p class="py-6 pt-5 text-lg">Walkthrough all the projects of your interest. Click any of the following buttons to <b>filter</b> by sector:</p>
                <div class="flex flex-wrap gap-2 justify-center">
                  <a href="/solutions/projects?sector=Land Sinks" class="btn btn-primary btn-sm">Land Sinks</a>
                  <a href="/solutions/projects?sector=industry" class="btn btn-primary btn-sm">Industry</a>
                  <a href="/solutions/projects?sector=transportation" class="btn btn-primary btn-sm">Transportation</a>
                  <a href="/solutions/projects?sector=electricity" class="btn btn-primary btn-sm">Electricity</a>
                  <a href="/solutions/projects?sector=food" class="btn btn-primary btn-sm">Food, Agriculture & Land Use</a>
                </div>
                
            </div>

          </div>
        </div>
      </div>

      <% if(session.user){ %>
        <div class="flex flex-row justify-center items-center">
          <a href="/solutions/addProject" class="btn btn-success btn-md m-2">ADD NEW PROJECT</a>
        </div>
      <% } %>

      <table class="table table-pin-rows">
        <thead>
          <tr class="text-center">
            <th class="font-bold text-white">NAME</th>
            <th class="font-bold text-white">CATEGORY</th>
            <th class="font-bold text-white">SUMMARY</th>
          </tr>
        </thead>

        <% projects.forEach(project=>{ %>
          <tr>
            <td> <span class="font-bold"><%= project.title %></span> </td>
            <td>
              <% if (project.Sector) { %>
                <a class="btn mt-2 btn-sm w-50" href="/solutions/projects?sector=<%= project.Sector.sector_name %>"><%= project.Sector.sector_name %></a>
              <% } else { %>
                <span class="badge badge-ghost">N/A</span>
              <% } %>
            </td>
            <td><%= project.summary_short %></td>
            <td><a class="btn btn-info btn-sm" href="/solutions/projects/<%= project.id %>">Details</a></td>
          </tr>
        <% }) %>
      </table>
      <br>
    </div>
  </body>
</html>